<div class="container">
    <div class="text-center" style="margin-top: 2%;">
        <h2>Chart Of Account</h2>
    </div>
   <div class="row" style="margin-top: 2%; margin-bottom: 10px;">
   <div class="col">
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 mb-5 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Filter By Email......"
                aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" style="background-color: #192440; border-color: #00FFAD; border-width: 2px;">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
   </div>
   <div class="col text-right">
    <button class="btn pl-4 pr-4" type="button" style="background-color: #192440; border-color: #00FFAD; border-width: 2px; color: white;">NEW</button>
   </div>
   </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ACC Code</th>
            <th scope="col">Account Name</th>
            <th scope="col">Account</th>
            <th scope="col">SUB Account</th>
            <th scope="col">Balance</th>
            <th scope="col">Preview</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1000</td>
            <td>CASH</td>
            <td>Asset</td>
            <td>Current Asset</td>
            <td>56</td>
            <td><div><i class="fa fa-eye" style="font-size:24px"></i></div></td>
          </tr>
          <tr>
            <td>2000</td>
            <td>Account Payable</td>
            <td>Liability</td>
            <td>Current Liability</td>
            <td>85</td>
            <td><div><i class="fa fa-eye" style="font-size:24px"></i></div></td>
          </tr>
          <tr>
            <td>3000</td>
            <td>Retained Earning</td>
            <td>Owner Equity</td>
            <td>Retained Earnings</td>
            <td>45</td>
            <td><div><i class="fa fa-eye" style="font-size:24px"></i></div></td>
          </tr>
          <tr>
            <td>4000</td>
            <td>Rent Revenue</td>
            <td>Incom</td>
            <td>Revenue</td>
            <td>57</td>
            <td><div><i class="fa fa-eye" style="font-size:24px"></i></div></td>
          </tr>
          <tr>
            <td>5000</td>
            <td>Stationary</td>
            <td>Expenses</td>
            <td>General Expenses</td>
            <td>29</td>
            <td><div><i class="fa fa-eye" style="font-size:24px"></i></div></td>
          </tr>
        </tbody>
      </table>
    
</div>