<div class="container">
    <div class="text-center" style="margin-top: 2%;">
        <h2>Chart Of Account</h2>
    </div>
   <div class="row" style="margin-top: 2%; margin-bottom: 10px;">
   <div class="col">
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 mb-5 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Filter By Email..."
                   aria-label="Search" aria-describedby="basic-addon2" 
                   (input)="filterAccounts($event)">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" style="background-color: #192440; border-color: #00FFAD; border-width: 2px;">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
   </div>
   <div class="col text-right">
    <button class="btn pl-4 pr-4" id="green_btn" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class=" btn my-4 font-weight-bold atlas-cta" data-bs-toggle="modal" data-bs-target="#exampleModal"
    type="button" style="background-color: #192440; border-color: #00FFAD; border-width: 2px; color: white;">NEW</button>
   </div>
   </div>
    <table class="table" *ngIf="filteredAccounts.length > 0">
        <thead>
          <tr>
            <th scope="col">ACC Code</th>
            <th scope="col">Account Name</th>
            <th scope="col">Account</th>
            <th scope="col">SUB Account</th>
            <th scope="col">Balance</th>
            <th scope="col">Preview</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of filteredAccounts">
                <td>{{ account.accountCode }}</td>
                <td>{{ account.AccountDescription }}</td>
                <td>{{ account.titleAr }}</td>
                <td>{{ account.titleEn }}</td>
                <td>{{ account.status }}</td>
                <td>
                    <div data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class=" btn" data-bs-toggle="modal" data-bs-target="#detailModal"
                     (click)="getAccountById(account.id)"><i class="fa fa-eye" style="font-size:24px;cursor: pointer;"></i></div>
                </td>
            </tr>
        </tbody>
      </table>
      <div>
        <div class="validation-class">
            There's no account yet, you have to add an account
        </div>
      </div>
    
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #myModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Add New Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
       
        <div class="modal-body">
            <form id="myform" #form="ngForm" (ngSubmit)="addAccount(form)">
                <div>
                    <div [ngClass]="{ 'success-class': success, 'error-class': !success }">
                        {{ successResponse }}
                    </div>
                    <div class="validation-class" *ngIf="error">
                        <li>{{ errorResponse }}</li>
                    </div>
                
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="titleAr" id="title" data-i18n="titleAr" name="titleAr"  style="color: black; font-weight: bold; ">TitleAR</label>
                        
                        <input type="text" [(ngModel)]="accountData.titleAr" minlength="3" class="form-control" id="titleAr" name="titleAr" #titleAr="ngModel" ngModel required style="background-color: white; color: black; border-color: black;">
                        <div *ngIf="titleAr.touched && titleAr.invalid" class="text-danger">
                            <div *ngIf="titleAr.errors?.['required']">Title in Arabic is required</div>
                            <div *ngIf="titleAr.errors?.['minLength']">Title must be at least 3 characters</div>
                          </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="titleEn" id="title" data-i18n="titleEn" name="titleEn"  style="color: black; font-weight: bold; ">TitleEn</label>
                        <input type="text" minlength="3" [(ngModel)]="accountData.titleEn" class="form-control" id="titleEn" name="titleEn" #titleEn="ngModel" ngModel required style="background-color: white; color: black; border-color: black;">
                        <div *ngIf="titleEn.touched && titleEn.invalid" class="text-danger">
                            <div *ngIf="titleEn.errors?.['required']">Title in English is required</div>
                            <div *ngIf="titleEn.errors?.['minLength']">Title must be at least 3 characters</div>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="accountCode" id="title" data-i18n="accountCode" name="accountCode"  style="color: black; font-weight: bold; ">Account Code</label>
                        <input type="text" [(ngModel)]="accountData.accountCode" name="accountCode" minlength="3" class="form-control" id="accountCode" #accountCode="ngModel" ngModel required style="background-color: white; color: black; border-color: black;">
                        <div *ngIf="accountCode.touched && accountCode.invalid" class="text-danger">
                            <div *ngIf="accountCode.errors?.['required']">Accoune Code is required</div>
                            <div *ngIf="accountCode.errors?.['minLength']">Account Code must be at least 3 characters</div>
                          </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="mainAccount" id="title" data-i18n="name" name="mainAccount"  style="color: black; font-weight: bold; ">Main Account ID</label>
                        <select id="mainAccount" (change)="onFirstDropdownChange()" name="mainAccount" [(ngModel)]="selectedId" class="form-control" style="background-color: white; color: black; border-color: black;" #mainAccount="ngModel" ngModel>
                            <option *ngFor="let value of dropdownValues" [value]="value.id">{{ value.title }}</option>
                          </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="subMainAccount" id="title" data-i18n="name" name="subMainAccount"  style="color: black; font-weight: bold; ">Sub Main Account ID</label>
                        <select id="subMainAccount" name="subMainAccount" [(ngModel)]="accountData.subMainAccount" class="form-control" style="background-color: white; color: black; border-color: black;" #subMainAccount="ngModel" ngModel>
                            <option *ngFor="let value of secondDropdownValues" [value]="value.id">{{ value.title }}</option>
                          </select>                       
                    </div>
                </div>
                <div class="form-group">
                    <label for="AccountDescription" id="title" data-i18n="message" name="AccountDescription" style="color: black; font-weight: bold;">Account Description</label>
                    <textarea [(ngModel)]="accountData.AccountDescription" name="AccountDescription" class="form-control" #AccountDescription="ngModel" id="message" ngModel style="background-color: white; color: black; border-color: black;"></textarea>
                    <div *ngIf="AccountDescription.touched && AccountDescription.invalid" class="text-danger">
                        <div *ngIf="AccountDescription.errors?.['required']">description is required</div>
                    </div>
                </div>
                <button  type="submit" class="btn font-weight-bold atlas-cta atlas-cta-wide my-3" id="green_btn"  style="font-weight: bold;">Add Account</button>
            </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Account Detail</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
       
        <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="titleAr" id="title" data-i18n="titleAr" name="titleAr"  style="color: black; font-weight: bold; ">TitleAR</label>
                        
                        <input type="text" [(ngModel)]="accountData.titleAr" minlength="3" class="form-control" id="titleAr" name="titleAr" #titleAr="ngModel" disabled ngModel placeholder="{{contactItem.titleAr}}" style="background-color: white; color: black; border-color: black;">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="titleEn" id="title" data-i18n="titleEn" name="titleEn"  style="color: black; font-weight: bold; ">TitleEn</label>
                        <input type="text" minlength="3" [(ngModel)]="accountData.titleEn" class="form-control" disabled placeholder="{{contactItem.titleEn}}" id="titleEn" name="titleEn" #titleEn="ngModel" ngModel required style="background-color: white; color: black; border-color: black;">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="accountCode" id="title" data-i18n="accountCode" name="accountCode"  style="color: black; font-weight: bold; ">Account Code</label>
                        <input type="text" [(ngModel)]="accountData.accountCode" name="accountCode" disabled placeholder="{{contactItem.accountCode}}" minlength="3" class="form-control" id="accountCode" #accountCode="ngModel" ngModel required style="background-color: white; color: black; border-color: black;">
                        
                    </div>
                    <div class="form-group col-md-6">
                        <label for="parentAccountId" id="title" data-i18n="name" name="parentAccountId"  style="color: black; font-weight: bold; ">Parent Account ID</label>
                        <input  [(ngModel)]="accountData.parentAccountId" type="text" minlength="3" disabled class="form-control" id="parentAccountId" name="parentAccountId" #parentAccountId="ngModel" ngModel style="background-color: white; color: black; border-color: black;">
                       
                    </div>
                </div>
                <div class="form-group">
                    <label for="AccountDescription" id="title" data-i18n="message" name="AccountDescription" style="color: black; font-weight: bold;">Account Description</label>
                    <textarea [(ngModel)]="accountData.AccountDescription" disabled placeholder="{{contactItem.AccountDescription}}" name="AccountDescription" class="form-control" #AccountDescription="ngModel" id="message" ngModel style="background-color: white; color: black; border-color: black;"></textarea>
                    
                </div>
        </div>
      </div>
    </div>
  </div>