@import "~aos/dist/aos.css";
@media (max-width: 575px) {
    .btnenSmall {
        margin-left: 10px; /* Adjust this value as needed */
    }
    .btnarSmall {
        margin-right: 10px; /* Adjust this value as needed */
    }
    
}

.navbar-toggler-icon{
    color: #00FFAD;
}

.success-class{
    background-color: rgb(11, 193, 11);
    color: white;
    position: relative;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    padding-left: 15%;
}
.error-class{
    background-color: red;
    color: white;
    position: relative;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    padding-left: 15%;
}


.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 1000; /* Adjust the z-index as needed */
  }
  
  .nav-wrapper {
    transition: all 0.3s ease; /* Smooth transition for the fixed state */
  }