<div class="body">
    <select id="navBar_btn" class=" btn  navBarBtn">
        <option value="ar"  id="navBar_btn" class=" btn   navBarBtn" data-i18n="arabic">AR</option>
        <option value="en" id="navBar_btn" class=" btn   navBarBtn" data-i18n="english">EN</option>
    </select>
    
    <div class="main">
    
        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form  id="signup-form" class="signup-form">
                        <h2 class="form-title" data-i18n="createaccount">Create account</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="buisiness" id="buisiness" placeholder=""/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="fullname" id="fullname" placeholder=""/>
                        </div>
                        <div class=" row">
                            <div class="form-group col-6">
                                <input type="text" class="form-input" name="country" id="country" placeholder=""/>
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-input" name="city" id="city" placeholder=""/>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="form-group col-6">
                                <input type="email" class="form-input" name="email" id="email" placeholder="Email"/>
                            </div>
                            <div class="form-group col-6">
                                <input type="number" class="form-input" name="phone" id="phone" placeholder="Phone"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <input type="text" class="form-input" name="password" id="password" placeholder="" maxlength="14" minlength="7"/>
                                <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group col-6">
                                <input type="password" class="form-input" name="re_password" id="re_password" placeholder="" minlength="7" maxlength="14" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class=""/>
                            <label for="agree-term" class="label-agree-term " data-i18n="terms"><a a href="#" class="term-service" data-bs-toggle="modal" data-bs-target="#exampleModal"> I agree all statements in Terms of service</a></label>
                        </div>
                        
                        <div class="form-group">
                            <button type="button"   class=" form-submit"  onclick="logFormData()" data-i18n="signup">Sign up </button>
                        </div>
    
                       
                    </form>
                    <p class="loginhere" >
                        <span data-i18n="haveAccount">Have already an account ? </span><a routerLink="/login" class="loginhere-link" data-i18n="login">Login here</a>
                    </p>
                </div>
            </div>
        </section>
    
    </div>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    
</div>